workflows/TaskOS/203 - Delete Task.json
{
  "name": "203 - Delete Task",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "telegram_user_id",
              "type": "number"
            },
            {
              "name": "first_name"
            },
            {
              "name": "username"
            },
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "message"
            },
            {
              "name": "command"
            },
            {
              "name": "command_args"
            },
            {
              "name": "is_new_user",
              "type": "boolean"
            },
            {
              "name": "platform"
            },
            {
              "name": "received_at"
            },
            {
              "name": "user_id"
            },
            {
              "name": "workflow_id"
            },
            {
              "name": "workflow_name"
            },
            {
              "name": "description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        0
      ],
      "id": "799f18b7-83bd-46d8-8b5d-4a61ceb95a57",
      "name": "Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\n\nconst input = request.command_args?.trim();\n\nif (!input || !/^\\d+$/.test(input)) {\n  return [{\n    json: {\n      ...request,\n      error: true,\n      message: `❌ Please provide a valid task number.\n\nExample:\n/done 2`\n    }\n  }];\n}\n\nconst taskNumber = Number(input);\n\nif (taskNumber <= 0) {\n  return [{\n    json: {\n      ...request,\n      error: true,\n      message: `❌ Please provide a valid task number.\n\nExample:\n/done 2`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...request,\n    task_index: taskNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "b5dbd1c9-0d0e-4745-b76d-953be80ab8e3",
      "name": "Validate Task Number"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tasks",
        "orderBy": "created_at.asc",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "19278d97-de93-40ca-87bb-b8da22c7d5b7",
      "name": "Get Pending Tasks",
      "credentials": {
        "supabaseApi": {
          "id": "ZH2IdOeF0pwuVjao",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tasks = $input.all();\n\n// Original request\nconst request = $(\"Validate Task Number\").first().json;\n\nconst index = request.task_index - 1;\n\nif (index < 0 || index >= tasks.length) {\n  return [\n    {\n      json: {\n        ...request,\n        success: false,\n        error: `Task ${request.task_index} does not exist.`\n      }\n    }\n  ];\n}\n\nconst selectedTask = tasks[index].json;\n\nreturn [\n  {\n    json: {\n      // Keep ALL original request fields\n      ...request,\n\n      // Keep task details needed later\n      task_id: selectedTask.id,\n      task_title: selectedTask.title,\n\n      // Also preserve the chat info explicitly\n      chat_id: request.chat_id,\n      telegram_user_id: request.telegram_user_id,\n      first_name: request.first_name,\n      username: request.username,\n\n      success: true\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "id": "09049897-1773-4c3d-bba4-e1b5f6b33492",
      "name": "Find Task"
    },
    {
      "parameters": {
        "jsCode": "const request = $(\"Find Task\").first().json;\n\nreturn [\n  {\n    json: {\n      chat_id: request.chat_id,\n      telegram_user_id: request.telegram_user_id,\n      task_title: request.task_title,\n      message: `🗑️ Task deleted successfully!\n\n📝 ${request.task_title}\n\nYour task has been removed.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "426bdad4-c92a-4b40-bf7a-a79de31b942a",
      "name": "Prepare Success Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        0
      ],
      "id": "1739a233-9eea-46e8-9778-abcdff7a7328",
      "name": "Send a text message",
      "webhookId": "5fa1d5b3-6298-42e2-9cd9-da2f20fd4baf",
      "credentials": {
        "telegramApi": {
          "id": "jy3KlkySRaRQgJyf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -160
      ],
      "id": "da9cacba-9c06-4609-8e00-5eb52d501ab3",
      "name": "Send a text message1",
      "webhookId": "81762891-209a-43c2-a35f-357053e0a87b",
      "credentials": {
        "telegramApi": {
          "id": "jy3KlkySRaRQgJyf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9b58d4d-778c-43e4-96fd-f1962d80c757",
              "leftValue": "={{ $json.error }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "a77a660e-682b-4e12-a53b-9baa166bb440",
      "name": "Validation Failed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "73572652-dfc1-4f93-9bd7-5af9d19505a5",
              "leftValue": "={{ $json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        0
      ],
      "id": "304b5167-8481-4cb1-b552-8257b36fa764",
      "name": "Task Found?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        192
      ],
      "id": "1a8d952b-8f7a-4147-92a6-f7c57d4b9fc5",
      "name": "Send a text message2",
      "webhookId": "410c9ddd-a100-48e5-accd-e1d7fea1f805",
      "credentials": {
        "telegramApi": {
          "id": "jy3KlkySRaRQgJyf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "tasks",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.task_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "58a4282b-cc73-4cf0-9a31-0b00f2c3c7e1",
      "name": "Delete Task",
      "credentials": {
        "supabaseApi": {
          "id": "ZH2IdOeF0pwuVjao",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn [\n  {\n    json: {\n      ...item.json,\n      message: `❌ Task #${item.json.task_index} does not exist.\n\nUse /tasks to view your pending tasks.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        192
      ],
      "id": "74bfbbd6-653e-4564-8895-fdea53554a37",
      "name": "Prepare Delete Task not Found Message"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Task Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Task Number": {
      "main": [
        [
          {
            "node": "Validation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Tasks": {
      "main": [
        [
          {
            "node": "Find Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Task": {
      "main": [
        [
          {
            "node": "Task Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed?": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Found?": {
      "main": [
        [
          {
            "node": "Delete Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Delete Task not Found Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task": {
      "main": [
        [
          {
            "node": "Prepare Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delete Task not Found Message": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d2c12f7f-253e-435e-97f6-7d0f346e5dd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf6c16fac9beef294813451d8fba325c4b79be1ea695aafb4d5d972f96419775"
  },
  "nodeGroups": [],
  "id": "2M6PKeof0ea0zWHV",
  "tags": []
}