workflows/002 - Router.json
{
  "name": "002 - Router",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id",
              "type": "number"
            },
            {
              "name": "telegram_user_id",
              "type": "number"
            },
            {
              "name": "first_name"
            },
            {
              "name": "username"
            },
            {
              "name": "message"
            },
            {
              "name": "is_new_user",
              "type": "boolean"
            },
            {
              "name": "platform"
            },
            {
              "name": "received_at"
            },
            {
              "name": "message_id",
              "type": "number"
            },
            {
              "name": "user_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "14ab02a2-dd44-4f16-b347-8654c2015c43",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7af04e70-4a93-4422-8bbd-ecbfcd628427",
              "name": "command",
              "value": "={{ $json.message.trim().split(/\\s+/)[0] }}",
              "type": "string"
            },
            {
              "id": "4584d48c-fe61-429b-a5a1-6b43808fa1db",
              "name": "command_args",
              "value": "={{ $json.message.trim().split(/\\s+/).slice(1).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "ade89469-3525-4813-9d44-9e877e5025eb",
      "name": "Extract Command"
    },
    {
      "parameters": {
        "jsCode": "const registry = {\n  \"/start\": {\n    moduleId: \"000\",\n    workflow: \"System\",\n    description: \"System Commands\"\n  },\n\n  \"/help\": {\n    moduleId: \"000\",\n    workflow: \"System\",\n    description: \"Help\"\n  },\n\n  \"/task\": {\n    moduleId: \"003\",\n    workflow: \"TaskOS\",\n    description: \"Task Management\"\n  },\n\n  \"/expense\": {\n    moduleId: \"004\",\n    workflow: \"FinanceOS\",\n    description: \"Expense Tracking\"\n  },\n\n  \"/calendar\": {\n    moduleId: \"005\",\n    workflow: \"CalendarOS\",\n    description: \"Calendar Management\"\n  },\n\n  \"/note\": {\n    moduleId: \"006\",\n    workflow: \"NotesOS\",\n    description: \"Notes\"\n  }\n};\n\nconst item = $input.first();\n\nconst moduleInfo = registry[item.json.command];\n\nif (moduleInfo) {\n  item.json.module_id = moduleInfo.moduleId;\n  item.json.module_name = moduleInfo.workflow;\n  item.json.description = moduleInfo.description;\n  item.json.route = moduleInfo.workflow;\n} else {\n  item.json.module_id = \"999\";\n  item.json.module_name = \"Unknown\";\n  item.json.description = \"Unknown Command\";\n  item.json.route = \"Unknown\";\n}\n\nreturn [item];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "21d7cdbf-818c-49c2-92c9-aaf26dd6a66f",
      "name": "Module Registry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e307520a-1405-479c-806a-fcf610987a45",
              "leftValue": "={{ $json.route }}",
              "rightValue": "TaskOS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "7e4e4538-1fd8-4ba2-8519-456067f16689",
      "name": "Route to TaskOS?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VWfS2oXlHMnfjqLw",
          "mode": "list",
          "cachedResultUrl": "/workflow/VWfS2oXlHMnfjqLw",
          "cachedResultName": "003 - TaskOS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "telegram_user_id": "={{ $json.telegram_user_id }}",
            "message_id": "={{ $json.message_id }}",
            "first_name": "={{ $json.first_name }}",
            "username": "={{ $json.username }}",
            "message": "={{ $json.message }}",
            "command": "={{ $json.command }}",
            "module_id": "={{ $json.module_id }}",
            "module_name": "={{ $json.module_name }}",
            "description": "={{ $json.description }}",
            "route": "={{ $json.route }}",
            "is_new_user": "={{ $json.is_new_user }}",
            "platform": "={{ $json.platform }}",
            "received_at": "={{ $json.received_at }}",
            "command_args": "={{ $json.command_args }}",
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "command_args",
              "displayName": "command_args",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "module_id",
              "displayName": "module_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "module_name",
              "displayName": "module_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "is_new_user",
              "displayName": "is_new_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        832,
        -96
      ],
      "id": "e79ce17e-9597-4c74-af32-35b2bdb6770b",
      "name": "Call TaskOS"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extract Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Command": {
      "main": [
        [
          {
            "node": "Module Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Module Registry": {
      "main": [
        [
          {
            "node": "Route to TaskOS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to TaskOS?": {
      "main": [
        [
          {
            "node": "Call TaskOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "009c4751-60ef-4279-bf36-ddf0a1a27492",
  "meta": {
    "instanceId": "cf6c16fac9beef294813451d8fba325c4b79be1ea695aafb4d5d972f96419775"
  },
  "nodeGroups": [],
  "id": "2I6gzcjnCEV8aO6o",
  "tags": []
}